# DAFNI directories
data/outputs/
data/inputs/*
!data/inputs/README.md

# DAFNI uploads
*.tar.gz

# Compilation targets
cuda/build/
cuda/dist/
cuda/hipims.egg-info/

# Python compiler
**/__pycache__/

# OS specific
**/.DS_Store

# Editor configurations
**/.vscode/
